<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <script>
      goPlaces = function(place){
        location = place;
      }
      goToAddCustomer = function(place){
        location = '/customers/add';
      }
      doEdit = function(id){
        location = '/customers/edit/'+id;
      }
      searchCustomer = function(){
        var searchText = $('#searchText').val();
        location = '/customers/name/'+searchText;
      }
      doDelete = function(id){
        var customer = {'id':id};
        $.ajax({
          type: "DELETE",
          url: "/api/customers",
          data: customer,
          success: function(data){
            console.log(JSON.stringify(data));
            if(data.result == "success"){
              //alert("login success ");
              location = "/customers";
            }
          }
        });
      }

    </script>
    <h1><%= title %></h1>
    <div>
      <button onclick="goPlaces('/dashboard')">Dashboard</button> | 
      <button onclick="goPlaces('/customers')">Customers</button> | 
      <button onclick="goPlaces('/aboutus')">Aboutus</button> | 
      <button onclick="goPlaces('/login')">Logout</button>
    </div>
    <hr/>
    <div style="width:100%;">
    <select name="Filter">
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select> &nbsp;
    <input id="searchText" type="" name="" placeholder="search keyword"> &nbsp;
    <input type="button" onclick="searchCustomer()" name="" value="search">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button type="" style="align-self: right;" onclick="goToAddCustomer()">Add customer</button>
    <div>
    <br/><br/>
    <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="20px">No</th>
                    <th  width="250px">Name</th>
                    <th width="220px">Email</th>
                    <th width="100px">Phone</th>
                    <th width="300px">Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% if(data.length){            for(var i = 0;i < data.length;i++) { %>       
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].address%></td>
                    <td><button onclick="doEdit('<%=data[i].id%>');" >Edit</button></td>
                    <td><button onclick="doDelete('<%=data[i].id %>');">Delete</button></td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="7">No customers</td>
                 </tr>
            <% } %> 
            </table>
         </div>
        </div>
  </body>
</html>
